body {

  text-align: center;
  font-family: Helvetica;

}

.backimage {

  background-image: url("../Images/the-flatiron-building.png");
  color: white;

}

.backimage h1 {

  font-size: 70px;
  font-weight: bold;

}

.backimage h2 {

  font-size: 23px;
  font-weight: bold;

}

.backimage a {

  font-size: 18px;
  color: white;

}

nav {

  background-image: url("../Images/the-flatiron-building.png");
  text-align: left;
  color: white;

}

.main {


  font-size: 14px;

}
.main h1 {

  font-size: 32px;
  font-weight: bold;

}

.main h2 {

  font-size: 23px;
  font-weight: bold;

}

nav p {

    font-size: 11px;

}

nav a {

  color: white;

}
